* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Brutal Type";
    width: 1920px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*header {*/
/*background-size: cover;*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*-webkit-background-size: cover;*/
/*position: relative;*/
/*z-index: 3;*/
/*}*/
header {
    position: relative;
    z-index: 1;
}

header .backImg {
    width: 1920px;
    height: 1112px;
    position: absolute;
    /*bottom: -141px;*/
    top: 0;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.menuSocial span {
    font-size: 19px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f7bde;
}

.menuSocial img {
    height: 50px;
}

.logo {
    float: left;
    width: 225px;
    height: 50px;
    line-height: 1;
    position: relative;
    text-align: right;
}

.logo img {
    width: 55px;
    height: 50px;
    position: absolute;
    display: block;
    left: 0;
}

.logo img + span {
    font-family: "Monda";
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 10px;
}

.logo span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #ffffff;
}

.clock {
    float: left;
    width: 330px;
    margin-left: 310px;
}

header .clock .icon-clock {
    font-size: 21px;
    color: #ffffff;
    margin-right: 32px;
}

header .clock .time {
    display: inline-block;
    margin-left: 32px;
}

header .clock span:nth-child(2) {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.025em;
    color: #ffffff;
}

header .dateClock {
    display: inline-block;
    margin-left: 12px;
}

header .dateClock span {
    display: block;

}

header .dateClock span:first-child {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.025em;
    color: #9ec2f8;
}

header .dateClock span:last-child {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #9ec2f8;
}

.logReg {
    float: left;
    width: 270px;
    margin-left: 34px;
}

.logReg .login {
    display: inline-block;
}

.logReg .register {
    display: inline-block;
    margin-left: 36px;
}

header .logReg a {
    font-size: 13px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 13px;
}

header .logReg span.icon-login,
header .logReg span.icon-register {
    color: #89b4f4;
}

header .menu li {
    margin-top: 81px;
}

.menu li {
    display: inline-block;
}

.menu li + li {
    margin-left: 69px;
}

.menu li a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menu li.active a {
    color: #f12f77;
}

header .betnvest {
    margin-top: 153px;
    line-height: 1;
    width: 692px;
}

header .betnvest span {
    font-family: "Monda";
    font-weight: bold;
    color: #ffffff;
}

header .betnvest span:first-child {
    font-size: 133px;
}

header .betnvest span:nth-child(2) {
    font-size: 70px;
}

header .betnvest p {
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #96c2ff;
    padding-top: 66px;
}

.btnFillColor2 {
    font-family: "Monda";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e0186c;
    padding: 26px 87px 26px 32px;
    display: inline-block;
    margin-top: 88px;
}

header .statistic {
    text-align: right;
    margin-top: 200px;
}

header .statistic [class*="item"] {
    width: 235px;
    height: 80px;
    padding-left: 104px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

header .statistic .item2,
header .statistic .item3 {
    margin-left: 32px;
}

header .statistic [class*="item"] img {
    width: 90px;
    height: 75px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -28px;
}

header .statistic span {
    display: block;
    text-align: left;
}

header .statistic img + span {
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

header .statistic span.rateExchange {
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

header .statistic span.percent {
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #4194ff;
}

header .statistic .item3 .percent.active {
    color: #e0186c;
}

.about {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*.about {*/
/*position: relative;*/
/*z-index: 1;*/
/*}*/
/*.about .backImg {*/
/*position: absolute;*/
/*top: -141px;*/
/*bottom: -178px;*/
/*left: 50%;*/
/*margin-left: -960px;*/
/*width: 1920px;*/
/*height: 1071px;*/
/*z-index: -1;*/
/*}*/

.about .menuAbout {
    width: calc(100% - 740px);
    float: left;
    padding-top: 327px;
}

.menuAbout li a,
.menuQuestions li a {
    font-family: "Monda";
    font-size: 16px;
    font-weight: bold;
    line-height: 110px;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-transform: uppercase;
    color: #0349c6;
}

.menuAbout li.active a {
    color: #e0186c;
}

.btnFillColor1 {
    font-family: "Monda";
    font-size: 16px;
    font-weight: bold;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #ffffff;
    background: #2f7bde;
}

.about .description {
    width: 740px;
    float: left;
    padding-top: 285px;
    padding-bottom: 300px;
}

.about .description p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.about .description p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.calculator {
    position: relative;
    z-index: 3;
}

.calculator .backImg {
    width: 1920px;
    height: 1122px;
    position: absolute;
    top: -178px;
    bottom: -75px;
    left: 50%;
    margin-left: -960px;
    z-index: -3;
}

/*.menuCalculator {*/
/*text-align: left;*/
/*}*/
.menuCalculator li {
    display: inline-block;
    /*padding-left: 100px;*/
    position: relative;
}

.menuCalculator .classicPlan {
    margin-left: 50px;
    margin-right: 166px;
}

.menuCalculator .royalPlan {
    margin-right: 166px;
}

.menuCalculator [class*="icon"] {
    font-size: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
}

.menuCalculator .plans {
    padding-left: 100px;
}

.menuCalculator .plans span {
    display: block;
}

.menuCalculator .plans span:nth-child(1) {
    font-family: "Monda";
    font-size: 20px;
    font-weight: bold;
    color: #0349c6;
}

.menuCalculator .plans span:nth-child(2) {
    font-family: "Monda";
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #e0186c;
}

.menuCalculator .plans span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #e0186c;
}

.calculator .menuCalculator span.whitePlan {
    color: #ffffff;
}

.captionLight {
    font-family: "Monda";
    font-weight: bold;
    font-size: 50px;
    line-height: 83.73px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.myTarif {
    margin-bottom: 120px;
}

.myTarif .condition,
.myTarif .minMaxDeposit,
.myTarif .dailyProfit,
.myTarif .totalProfit {
    display: inline-block;
}

.myTarif .condition {
    margin-left: 80px;
}

.myTarif .minMaxDeposit {
    margin-left: 61px;
}

.myTarif .dailyProfit {
    margin-left: 50px;
}

.myTarif .totalProfit {
    margin-left: 87px;
}

.myTarif .condition li span:first-child {
    font-weight: 300;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #96c2ff;
}

.myTarif .condition li span:last-child {
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.minMaxDeposit li:first-child span,
.minMaxDeposit li:nth-child(3) span {
    font-weight: 300;
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.minMaxDeposit li:nth-child(2) span {
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #2b7fed;
}

.minMaxDeposit li:nth-child(4) span {
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.minMaxDeposit li:nth-child(4) span.minCashout {
    font-weight: 300;
}

.dailyProfit li:first-child span,
.totalProfit li:first-child span {
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.dailyProfit li:last-child span,
.totalProfit li:last-child span {
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.025em;
    color: #e0186c;
}

.totalProfit li:last-child span {
    color: #2b7fed;
}

.calculator .calcDep {
    text-align: center;
    width: 50%;
    float: left;
    padding: 0 30px 0 270px;
}

.calculator .calcDep label,
.calculator .calcDep input {
    display: block;
    /*text-align: center;*/
}

.calculator .calc label {
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #96c2ff;
}

.calculator .calc input,
.calculator .calc select,
.calcReinvest input {
    background-color: #0b47ad;
    border-color: #3168cb;
}

/*.calcReinvest input {*/
/*display: block;*/
/*text-align: center;*/
/*}*/


.calculator #plan {
    font-weight: 500;
    font-size: 17px;
    line-height: 83.73px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.calculator .resOut span {
    display: block;
    text-align: center;
}

.calculator .resOut span:first-child {
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    color: #96c2ff;
}

.calculator .resOut span:last-child {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
}

.captionBlue {
    font-family: "Monda";
    font-weight: bold;
    font-size: 50px;
    line-height: 83.73px;
    color: #0349c6;
}

.videoPresentation {
    position: relative;
    z-index: 1;
}

.videoPresentation .backImg {
    width: 1920px;
    height: 1326px;
    position: absolute;
    top: -75px;
    bottom: -75px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.videoPresentation .captionBlue span {
    text-transform: uppercase;
    padding-top: 230px;
}

/*.result {*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*height: 680px;*/
/*}*/
.result {
    position: relative;
    z-index: 1;
}

.result .backImg {
    width: 2026px;
    height: 682px;
    position: absolute;
    top: -75px;
    bottom: -75px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.result [class*="item"] {
    display: inline-block;
}

.result [class*="item"] img,
.result [class*="item"] span {
    display: block;
}

.result [class*="item"] img {
    width: 42px;
    height: 36px;
}

.result div[class*="item"] span:nth-child(2) {
    font-weight: bold;
    font-size: 45px;
    line-height: 20.78px;
    color: #0349c6;
}

.result div[class*="item4"] span:nth-child(2) {
    color: #4194ff;
}

.result div[class*="item5"] span:nth-child(2) {
    color: #de1c6e;
}

.result div[class*="item"] span:nth-child(3) {
    font-family: "Monda";
    font-weight: bold;
    font-size: 25px;
    line-height: 34.63px;
    color: #061046;
}

/*.lastDeposit {*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*-webkit-background-size: cover;*/
/*background-size: cover;*/
/*}*/
.lastDeposit {
    position: relative;
    z-index: 1;
}

.lastDeposit .backImg {
    width: 2705px;
    height: 1380px;
    position: absolute;
    top: -75px;
    bottom: -70px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.lastDeposit .lastDepWith {
    width: 50%;
    float: left;
    display: table;
}

.lastDeposit .lastDepWith li {
    display: table-row;
}

.lastDeposit .lastDepWith li span:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #061046;
    display: table-cell;
}

.lastDeposit .lastDepWith li span:nth-child(2) {
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #91a8ce;
    display: table-cell;
    padding-left: 50px;
}

.lastDeposit .lastDepWith li span:nth-child(3) {
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #4194ff;
    display: table-cell;
    padding-left: 56px;
}

.lastDeposit .lastDepWith li span.active {
    color: #de1c6e;
}

/*.investNow {*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*height: 775px;*/
/*}*/
.investNow {
    position: relative;
    z-index: 1;
}

.investNow .backImg {
    width: 1954px;
    height: 775px;
    position: absolute;
    top: -70px;
    bottom: -75px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;

}

.investNow .rate p {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
}

.investNow .textInvest {
    width: 50%;
    float: left;
}

.investNow .textInvest p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #70aeff;
}

.investNow .textInvest span {
    font-weight: bold;
    font-size: 120px;
    line-height: 83.73px;
    color: #70aeff;
}

/*.lastNews {*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*height: 905px;*/
/*}*/
.lastNews {
    position: relative;
    z-index: 1;
}

.lastNews .backImg {
    width: 1963px;
    height: 903px;
    position: absolute;
    left: 50%;
    margin-left: -982px;
    z-index: -1;
}

.lastNews .itemNews span:first-child {
    font-family: "Monda";
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #061046;
}

.lastNews .itemNews span:nth-child(3),
.lastNews .itemNews span:nth-child(4) {
    font-size: 13px;
    line-height: 83.73px;
    letter-spacing: 0.1em;
    color: #739cdd;
}

.lastNews .itemNews p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

/*.payments {*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*height: 290px;*/
/*}*/
.payments {
    position: relative;
    z-index: 1;
}

.payments ul.pay {
    display: table;
    width: 100%;
}

.payments ul.pay li {
    display: table-cell;
    vertical-align: middle;
}

.payments ul.pay li img {
    color: #aeb7cb;
}

.payments .backImg {
    width: 1932px;
    height: 291px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -966px;
    z-index: -1;
}

footer {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.table {
    display: table;
    width: 100%;
}

.tCell {
    display: table-cell;
}

footer .contactsForex,
footer .logoWrap,
footer .social {
    width: 33.3333%;
    vertical-align: middle;
}

footer .contactsForex {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #96c2ff;
}

footer .adress p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

footer .logoWrap {
    text-align: center;
}

footer .logoFooter img,
footer .logoFooter span,
footer a {
    display: block;
}

.logoFooter {
    padding-top: 147px;
    position: relative;
}

.logoFooter img {
    width: 119px;
    height: 104px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
}

.logoFooter img + span {
    font-family: "Monda";
    font-size: 37px;
    line-height: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.logoFooter span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #ffffff;
}

footer a {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #ffffff;
}

footer .copyright {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #96c2ff;
    margin-top: 40px;
}

footer .social {
    text-align: right;
}

footer .menu li {
    margin-top: 100px;
}

/*FAQ*/
header .backImgFaq {
    width: 1920px;
    height: 517px;
    position: absolute;
    bottom: -141px;
    z-index: -1;
}

header .faq span {
    font-family: "Monda";
    font-weight: bold;
    font-size: 90px;
    line-height: 83.73px;
    color: #ffffff;
}

.askQuestions {
    position: relative;
    z-index: 1;
}

.askQuestions .backImg {
    width: 1920px;
    height: 1427px;
    position: absolute;
    top: -141px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.menuQuestions {
    float: left;
    width: calc(100% - 800px);
    padding-left: 46px;
}

.questions {
    float: left;
    width: 800px;
}

/*.questions span {*/
    /*padding-left: 173px;*/
/*}*/

/*.questions p {*/
    /*padding-left: 146px;*/
/*}*/

.accordion span {
    font-family: "Monda";
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    color: #012c7a;
}

.accordion p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.remainQuestions {
    position: relative;
    z-index: 1;
    margin-top: 256px;
}

.remainQuestions .backImg {
    width: 601px;
    height: 536px;
    position: absolute;
    top: 0;
    left: 1317px;
    z-index: -1;
}

.remainQuestions .captionBlue {
    padding-top: 80px;
    padding-bottom: 50px;
}

.remainQuestions .table {
    display: table;
    width: 100%;
    vertical-align: bottom;
}

.remained {
    display: table-cell;
    width: 720px;
}

.remained span {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #012c7a;
}

.remained p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
    padding-top: 45px;
}

.writeUs {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}