* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Brutal Type";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-repeat: no-repeat;
    background-position: center;
    height: 985px;
}

.menuSocial span {
    font-size: 19px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f7bde;
}

.menuSocial img {
    height: 50px;
}

.topheader {

}

.logo {
    width: 225px;
    float: left;
}

.logo img {
    width: 55px;
    height: 50px;
}

.logo img + span {
    font-family: "Monda";
    font-size: 37px;
    font-weight: bold;
    line-height: 83.73px;
    text-transform: uppercase;
    color: #ffffff;
}

.logo span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    line-height: 83.73px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #ffffff;
}

.clock {
    width: 330px;
    float: left;
    padding: 0 310px;
}

header .clock .icon-clock {
    color: #ffffff;
}

header .clock span:nth-child(2) {
    font-size: 35px;
    font-weight: bold;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

header .dateClock span:first-child {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.025em;
    color: #9ec2f8;
}

header .dateClock span:last-child {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #9ec2f8;
}

.logReg {
    width: 270px;
    float: left;
    padding: 0 35px;
}

header .logReg a {
    font-size: 13px;
    line-height: 83.73px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

header .logReg span.icon-login,
header .logReg span.icon-register {
    color: #89b4f4;
}

.menu li {
    display: inline-block;
}

.menu li + li {
    margin-left: 69px;
}

.menu li a {
    font-size: 15px;
    font-weight: 500;
    line-height: 83.73px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menu li.active a {
    color: #f12f77;
}

header .betnvest span {
    font-family: "Monda";
    font-weight: bold;
    line-height: 83.73px;
    color: #ffffff;
}

header .betnvest span:first-child {
    font-size: 133px;
}

header .betnvest span:nth-child(2) {
    font-size: 70px;
}

header .betnvest p {
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #96c2ff;
}

.btnFillColor2 {
    font-family: "Monda";
    font-weight: bold;
    font-size: 16px;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e0186c;
}

header .statistic [class*="item"] {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    margin-left: 32px;
}

header .statistic img {
    width: 90px;
    height: 75px;
}

header .statistic img + span {
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

header .statistic span.rateExchange {
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

header .statistic span.percent {
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #4194ff;
}

header .statistic .item3 .percent.active {
    color: #e0186c;
}

.about {
    background-repeat: no-repeat;
    background-position: center;
    height: 1070px;
}

.about .menuAbout {
    width: calc(100% - 740px);
    float: left;
}

.menuAbout li a,
.menuQuestions li a {
    font-family: "Monda";
    font-size: 16px;
    font-weight: bold;
    line-height: 110px;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-transform: uppercase;
    color: #0349c6;
}

.menuAbout li.active a {
    color: #e0186c;
}

.btnFillColor1 {
    font-family: "Monda";
    font-size: 16px;
    font-weight: bold;
    line-height: 83.73px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #ffffff;
    background: #2f7bde;
}

.about .description {
    width: 740px;
    float: left;
}

.about .description p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.about .description p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.calculator {
    background-repeat: no-repeat;
    background-position: center;
    height: 1120px;
}
.menuCalculator ul li {
    display: inline-block;
    margin-right: 171px;
}
.menuCalculator span.icon-classic-plan {
    font-size: 70px;
}

.menuCalculator .plans span:nth-child(1) {
    font-family: "Monda";
    font-size: 20px;
    font-weight: bold;
    line-height: 83.73px;
    color: #0349c6;
}

.menuCalculator .icon-royal-plan {
    font-size: 70px;
}

.menuCalculator .plans span:nth-child(2) {
    font-family: "Monda";
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #e0186c;
}

.menuCalculator .icon-expert-plan {
    font-size: 75px;
}

.menuCalculator .plans span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #e0186c;
}

.calculator .menuCalculator span.whitePlan {
    color: #ffffff;
}

.captionLight {
    font-family: "Monda";
    font-weight: bold;
    font-size: 50px;
    line-height: 83.73px;
    text-transform: uppercase;
    color: #ffffff;
}
.myTarif li {
    display: inline-block;
}
.myTarif .condition li span:first-child {
    font-weight: 300;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #96c2ff;
}

.myTarif .condition li span:last-child {
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.minMaxDeposit li:first-child span,
.minMaxDeposit li:nth-child(3) span {
    font-weight: 300;
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.minMaxDeposit li:nth-child(2) span {
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #2b7fed;
}

.minMaxDeposit li:nth-child(4) span {
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.minMaxDeposit li:nth-child(4) span.minCashout {
    font-weight: 300;
}

.dailyProfit li:first-child span:first-child {
    font-family: "Myriad Pro";
    font-size: 15px;
    line-height: 120px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.dailyProfit li:first-child span:last-child,
.totalProfit li:first-child span {
    font-size: 15px;
    line-height: 120px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.dailyProfit li:last-child span,
.totalProfit li:last-child span {
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.025em;
    color: #e0186c;
}

.totalProfit li:last-child span {
    color: #2b7fed;
}
.calculator .calcDep {
    width: 50%;
    float: left;
}
.calculator .calc label {
    font-size: 15px;
    line-height: 83.73px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #96c2ff;
}

.calculator #plan {
    font-weight: 500;
    font-size: 17px;
    line-height: 83.73px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.calculator .resOut span:first-child {
    font-weight: 300;
    font-size: 15px;
    line-height: 55px;
    text-transform: uppercase;
    color: #96c2ff;
}

.calculator .resOut span:last-child {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
}

.captionBlue {
    font-family: "Monda";
    font-weight: bold;
    font-size: 50px;
    line-height: 83.73px;
    color: #0349c6;
}

.videoPresentation {
    background-repeat: no-repeat;
    background-position: center;
    height: 1330px;
}

.videoPresentation .captionBlue span {
    text-transform: uppercase;
}

.result {
    background-repeat: no-repeat;
    background-position: center;
    height: 680px;
}
.result [class*="item"] {
    display: inline-block;
}
.result div[class*="item"] span:nth-child(2) {
    font-weight: bold;
    font-size: 45px;
    line-height: 20.78px;
    color: #0349c6;
}

.result div[class*="item4"] span:nth-child(2) {
    color: #4194ff;
}

.result div[class*="item5"] span:nth-child(2) {
    color: #de1c6e;
}

.result div[class*="item"] span:nth-child(3) {
    font-family: "Monda";
    font-weight: bold;
    font-size: 25px;
    line-height: 34.63px;
    color: #061046;
}

.lastDeposit {
    background-repeat: no-repeat;
    background-position: center;
    height: 1010px;
}
.lastDeposit .lastDepWith {
    width: 50%;
    float: left;
}
.lastDeposit .lastDepWith li span:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #061046;
}

.lastDeposit .lastDepWith li span:nth-child(2) {
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #91a8ce;
}

.lastDeposit .lastDepWith li span:nth-child(3) {
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #4194ff;
}

.lastDeposit .lastDepWith li span.active {
    color: #de1c6e;
}

.investNow {
    background-repeat: no-repeat;
    background-position: center;
    height: 775px;
}

.investNow .rate p {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.investNow .textInvest {
    width: 50%;
    float: left;
    padding: 0 180px;
}
.investNow .textInvest p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #70aeff;
}

.investNow .textInvest span {
    font-weight: bold;
    font-size: 120px;
    line-height: 83.73px;
    color: #70aeff;
}

.lastNews {
    background-repeat: no-repeat;
    background-position: center;
    height: 905px;
}

.lastNews .itemNews span:first-child {
    font-family: "Monda";
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #061046;
}

.lastNews .itemNews span:nth-child(3),
.lastNews .itemNews span:nth-child(4) {
    font-size: 13px;
    line-height: 83.73px;
    letter-spacing: 0.1em;
    color: #739cdd;
}

.lastNews .itemNews p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.payments {
    background-repeat: no-repeat;
    background-position: center;
    height: 290px;
}

footer {
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
}

footer .contactsForex {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #96c2ff;
}

footer .adress p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

footer a {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #ffffff;
}

footer .copyright {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #96c2ff;
}

/*FAQ*/
header .faq span {
    font-family: "Monda";
    font-weight: bold;
    font-size: 90px;
    line-height: 83.73px;
    color: #ffffff;
}

.accordion span {
    font-family: "Monda";
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    color: #012c7a;
}

.accordion p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.remained span {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #012c7a;
}

.remained p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}