* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Brutal Type";
}

.bodyWrap {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

header {
    position: relative;
    z-index: 2;
}

header .backImg {
    width: 1920px;
    height: 987px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
}

.menuSocial {
    position: relative;
    z-index: 1;
}

.menuSocial span {
    font-size: 19px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f7bde;
    position: absolute;
    display: inline-block;
    top: 440px;
    left: 95px;
    transform: rotate(-90deg);
}

.menuSocial img {
    height: 50px;
}

.menuSocial span + li {
    position: absolute;
    display: block;
    left: 170px;
    top: 612px;
}

.menuSocial li.social2 {
    position: absolute;
    display: block;
    top: 0;
    left: 170px;
    margin-top: 704px;
}

.menuSocial li.social3 {
    position: absolute;
    display: block;
    top: 0;
    left: 170px;
    margin-top: 794px;
}

.logo {
    float: left;
    width: 225px;
    height: 50px;
    line-height: 1;
    padding-left: 60px;
    position: relative;
    margin-top: 45px;
}

.logo img {
    width: 54px;
    height: 48px;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
}

.logo img + span {
    font-family: "Monda";
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.logo span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #ffffff;
}

.clock {
    float: left;
    width: 293px;
    margin-left: 330px;
    margin-top: 50px;
    /*line-height: 50px;*/
    height: 50px;
    background-color: #2f7bde;
    position: relative;
}

.clock::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid #2f7bde;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    top: 34.5%;
    left: 94%;
    transform: rotate(-90deg);
}

header .clock .icon-clock {
    font-size: 21px;
    color: #ffffff;
    position: absolute;
    display: block;
    top: 14px;
    left: 0;
    background-color: #1d5cb8;
}
.time {
    position: relative;
}
.time::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid #1d5cb8;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    top: 37.5%;
    left: -14.4%;
    transform: rotate(90deg);
}

header .clock .time {
    display: inline-block;
    padding-left: 57px;
    position: relative;
}

header .clock span:nth-child(2) {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.025em;
    color: #ffffff;
}

header .dateClock {
    display: inline-block;
    margin-left: 12px;
}

header .dateClock span {
    display: block;

}

header .dateClock span:first-child {
    font-size: 12px;
    /*line-height: 16px;*/
    letter-spacing: 0.025em;
    color: #9ec2f8;
}

header .dateClock span:last-child {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #9ec2f8;
}

.logReg {
    float: left;
    width: 239px;
    margin-left: 66px;
    margin-top: 50px;
    line-height: 50px;
    background-color: rgb(1, 46, 127);
    position: relative;
}

.logReg::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid rgb(1, 46, 127);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    top: 34.5%;
    left: 92.8%;
    transform: rotate(-90deg);
}

.logReg::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid rgb(1, 46, 127);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    top: 18px;
    left: -32.7px;
    transform: rotate(90deg);
}

.logReg .login {
    display: inline-block;
}

.logReg .login span {
    padding-left: 13px;
}

.logReg .register {
    display: inline-block;
    margin-left: 28px;
}

header .logReg a {
    font-size: 13px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 13px;
}
header .logReg a:hover {
    opacity: 0.7;
}
header .register a {
    padding-right: 13px;
}

header .logReg span.icon-login,
header .logReg span.icon-register {
    color: #89b4f4;
}

header .menu li:first-child {
    margin-left: 5px;
}

header .menu li {
    margin-top: 77px;
}

.menu li {
    display: inline-block;
}

.menu li + li {
    margin-left: 69px;
}

.menu li a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.menu a:hover {
    opacity: 0.7;
}
.menu li.active a {
    color: #f12f77;
    position: relative;
    display: inline-block;
    padding-bottom: 22px;
}

.menu li.active a::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #f12f77;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -5px;
    transform: rotate(180deg);
}

header .betnvest {
    margin-top: 101px;
    line-height: 1;
    width: 692px;
}

header .betnvest span {
    font-family: "Monda";
    font-weight: bold;
    color: #ffffff;
}

header .betnvest span:first-child {
    font-size: 133px;
}

header .betnvest span:nth-child(2) {
    font-size: 70px;
}

header .betnvest p {
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #96c2ff;
    padding-top: 71px;
    width: 630px;
}

.btnFillColor2 {
    font-family: "Monda";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e0186c;
    padding: 26px 87px 26px 32px;
    display: inline-block;
    margin-top: 82px;
    margin-left: 22px;
    position: relative;
}
.btnFillColor2:hover {
    filter: drop-shadow(21px 21px 21px rgba(136, 163, 221, 0.33));
}
.btnFillColor1:hover {
    filter: drop-shadow(21px 21px 21px rgba(136, 163, 221, 0.33));
}
.btnFillColor2::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid #e0186c;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    position: absolute;
    top: 24px;
    left: -43.7px;
    transform: rotate(90deg);
}
.betnvest .btnFillColor2 .icon-pointer-right {
    font-size: 15px;
    position: absolute;
    left: 88%;
}

header .statistic {
    margin-left: 435px;
    margin-top: 55px;
    width: 100%;
}

header .statistic [class*="item"] {
    width: 235px;
    height: 80px;
    padding-left: 104px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

header .statistic .item2,
header .statistic .item3 {
    margin-left: 32px;
}

header .statistic [class*="item"] img {
    width: 90px;
    height: 75px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -28px;
    filter: drop-shadow(21px 21px 21px rgba(136, 163, 221, 0.33));
}

header .statistic span {
    display: block;
    text-align: left;
}

header .statistic img + span {
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

header .statistic span.rateExchange {
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

header .statistic span.percent {
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #4194ff;
}

header .statistic .item3 .percent.active {
    color: #e0186c;
}


.about {
    position: relative;
    z-index: 1;
}

.about .backImg {
    position: absolute;
    top: -141px;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1339px;
    z-index: -1;
}

.about .menuAbout {
    width: calc(100% - 791px);
    float: left;
    margin-top: 150px;
}

.menuAbout li a,
.menuQuestions li a {
    font-family: "Monda";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-transform: uppercase;
    color: #0349c6;
    display: inline-block;
    margin-left: 44px;
}
.menuAbout li a:hover,
.menuQuestions li a:hover {
    opacity: 0.7;
}
.menuAbout li a:active,
.menuQuestions li a:active {
    color: #e0186c;
}
.menuAbout li:nth-child(2),
.menuQuestions li:nth-child(2) {
    padding-top: 46px;
}

.menuAbout li:nth-child(3),
.menuQuestions li:nth-child(3) {
    padding-top: 84px;
}
.menuAbout li.active a,
.menuQuestions li.active a {
    color: #e0186c;
    line-height: 101px;
}
.menuAbout li.active {
    width: 287px;
    background-color: #ffffff;
    border-left: 4px solid #e0186c;
    filter: drop-shadow(21px 21px 21px rgba(136,163,221,0.33));
    position: relative;
}
.menuAbout .active:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 34px solid #ffffff;
    border-left: 51px solid transparent;
    border-right: 51px solid transparent;
    position: absolute;
    top: 33px;
    left: 249px;
    transform: rotate(-90deg);
}
.btnFillColor1 {
    font-family: "Monda";
    font-size: 16px;
    font-weight: bold;
    /*line-height: 83.73px;*/
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #ffffff;
    background: #2f7bde;
    padding: 20px;
    display: inline-block;
    margin-top: 156px;
}

.about .description {
    width: 745px;
    float: left;
    margin-top: 129px;
}

.about .description p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.about .description span + p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
    padding-top: 44px;
}

.about .description p + p {
    padding-top: 30px;
}

.calculator {
    position: relative;
    z-index: 2;
}

.calculator .backImg {
    width: 1920px;
    height: 1122px;
    position: absolute;
    top: 122px;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
}

/*.menuCalculator {*/
/*text-align: left;*/
/*}*/
.menuCalculator li {
    display: inline-block;
    /*padding-left: 100px;*/
    position: relative;
    margin-top: 163px;
}

.menuCalculator .classicPlan {
    margin-left: 50px;
    margin-right: 166px;
}

.menuCalculator .royalPlan {
    margin-right: 166px;
}

.menuCalculator [class*="icon"] {
    font-size: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
}

.menuCalculator .plans {
    padding-left: 100px;
}

.menuCalculator .plans span {
    display: block;
}

.menuCalculator .plans span:nth-child(1) {
    font-family: "Monda";
    font-size: 20px;
    font-weight: bold;
    color: #0349c6;
}

.menuCalculator .plans span:nth-child(2) {
    font-family: "Monda";
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #e0186c;
}

.menuCalculator .plans span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #e0186c;
}

.calculator .menuCalculator span.whitePlan {
    color: #ffffff;
}

.captionLight {
    font-family: "Monda";
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 130px;
}

.myTarif {
    margin-top: 135px;
    /*margin-bottom: 120px;*/
}

.myTarif .condition,
.myTarif .minMaxDeposit,
.myTarif .dailyProfit,
.myTarif .totalProfit {
    display: inline-block;
}

.myTarif .condition {
    margin-left: 80px;
}

.myTarif .minMaxDeposit {
    margin-left: 61px;
}

.myTarif .dailyProfit {
    margin-left: 50px;
}

.myTarif .totalProfit {
    margin-left: 87px;
}

.myTarif .condition li span:first-child {
    font-weight: 300;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #96c2ff;
}

.myTarif .condition li span:last-child {
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.minMaxDeposit li:first-child span,
.minMaxDeposit li:nth-child(3) span {
    font-weight: 300;
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.minMaxDeposit li:nth-child(2) span {
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #2b7fed;
}

.minMaxDeposit li:nth-child(4) span {
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.minMaxDeposit li:nth-child(4) span.minCashout {
    font-weight: 300;
}

.dailyProfit li:first-child span,
.totalProfit li:first-child span {
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff;
}

.dailyProfit li:last-child span,
.totalProfit li:last-child span {
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.025em;
    color: #e0186c;
}

.totalProfit li:last-child span {
    color: #2b7fed;
}

.calculator .calcDep {
    /*text-align: center;*/
    /*width: 50%;*/
    /*float: left;*/
    /*padding: 0 30px 0 270px;*/
}

.calc {
    margin-top: 132px;
}

.calc .calcDep1 {
    float: left;
    width: 50%;
    display: block;
    padding-left: 272px;
    position: relative;
}

.calc .calcDep1 label {
    padding-left: 90px;
}

.calc .calcDep1 .cur {
    color: #ffffff;
    position: absolute;
    top: 58px;
    padding-left: 275px;
}

.calc .calcDep2 {
    float: left;
    width: 50%;
    display: block;
}

.calc .calcDep2 label {
    padding-left: 98px;
}

.calculator .calcDep1 input,
.calculator .calcDep2 select {
    width: 300px;
    height: 55px;
    display: block;
    margin-top: 22px;
    border: 1px solid #3168cb;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 29, 83, 0.32);
}
.calculator .calcDep1 input:focus,
.calculator .calcDep2 select:focus {
    background-color: #012c7a;;
}
.calculator .calcDep1 input {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding-left: 19px;
}

.calculator .calc label {
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #96c2ff;
    display: inline-block;
    text-align: center;
}

.calculator .calc input,
.calculator .calc select,
.calcReinvest input {
    background-color: #0b47ad;
}

.calculator #plan {
    font-weight: 500;
    font-size: 17px;
    line-height: 83.73px;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding-left: 19px;
}

.calcReinvest {
    margin-top: 64px;
}

.calculator .resOut span {
    display: block;
    text-align: center;
}

.calculator .resOut span:first-child {
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    color: #96c2ff;
    margin-top: 41px;
}

.calculator .resOut span:last-child {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
}

.calculator .btnFillColor2 {
    display: inline-block;
    margin-top: 59px;
    margin-left: 452px;
}

.captionBlue {
    font-family: "Monda";
    font-weight: bold;
    font-size: 50px;
    color: #0349c6;
}

.videoPresentation {
    position: relative;
    z-index: 1;
}

.videoPresentation .backImg {
    width: 1920px;
    height: 1380px;
    position: absolute;
    top: -245px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.videoPresentation .captionBlue {
    margin-top: 124px;
}

.videoPresentation .captionBlue span {
    text-transform: uppercase;
}

.videoPresentation .video {
    margin-top: 96px;
    width: 1166px;
    height: 740px;
    box-shadow: 21px 21px 21px 0px rgba(136, 163, 221, 0.33);
    border: 12px solid #ffffff;
    position: relative;
}
.videoPresentation .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.result {
    position: relative;
    z-index: 1;
}

.result .backImg {
    width: 1920px;
    height: 682px;
    position: absolute;
    top: 143px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.result .topResult [class*="item"] {
    display: inline-block;
    margin-top: 290px;
    position: relative;
    width: 270px;
}

.result .item1 {
    margin-left: 65px;
}

.result .item2 {
    margin-left: 130px;
}

.result .item3 {
    margin-left: 139px;
}

.result .downResult [class*="item"] {
    display: inline-block;
    margin-top: 36px;
}

.result .item4 {
    margin-left: 646px;
}

.result .item5 {
    margin-left: 86px;
}

.result [class*="item"] img,
.result [class*="item"] span {
    display: block;
    text-align: center;
}

.result [class*="item"] img {
    width: 42px;
    height: 36px;
}

.result .topResult [class*="item"] img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -21px;
}

.result .downResult [class*="item"] {
    position: relative;
}

.result .downResult [class*="item"] img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -21px;
}

.result div[class*="item"] span:nth-child(2) {
    font-weight: bold;
    font-size: 45px;
    color: #0349c6;
    padding-top: 82px;
    background-color: #ffffff;
}

.result div[class*="item4"] span:nth-child(2) {
    color: #4194ff;
}

.result div[class*="item5"] span:nth-child(2) {
    color: #de1c6e;
}

.result div[class*="item"] span:nth-child(3) {
    font-family: "Monda";
    font-weight: bold;
    font-size: 25px;
    line-height: 34.63px;
    color: #061046;
    margin-top: 55px;
}

.lastDeposit {
    position: relative;
    z-index: 1;
}

.lastDeposit .backImg {
    width: 1920px;
    height: 1380px;
    position: absolute;
    top: -230px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.lastDeposit h2 {
    margin-top: 200px;
    line-height: 1;
}

.lastDeposit .lastDepWith {
    width: 50%;
    float: left;
    display: table;
    margin-top: 95px;
    position: relative;
}

.lastDeposit .table2 {
    padding-left: 37px;
}

.lastDeposit .lastDepWith li img {
    height: 32px;
    width: 36px;
    display: table-cell;
    text-align: center;
    margin-left: 42px;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 8px;
}

.lastDeposit .lastDepWith li {
    display: table-row;
}

.lastDeposit .lastDepWith li span:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #061046;
    display: table-cell;
    vertical-align: middle;
}

.lastDeposit .lastDepWith li span:nth-child(2) {
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #91a8ce;
    display: table-cell;
    padding-left: 50px;
    vertical-align: middle;
}

.lastDeposit .lastDepWith li span:nth-child(3) {
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.025em;
    color: #4194ff;
    display: table-cell;
    padding-left: 56px;
    vertical-align: middle;
}

.lastDeposit .lastDepWith li span.active {
    color: #de1c6e;
}

.lastDeposit .btnFillColor1 {
    margin-top: 108px;
    margin-left: 502px;
}

.investNow {
    position: relative;
    z-index: 1;
}

.investNow .backImg {
    width: 1920px;
    height: 775px;
    position: absolute;
    top: -160px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;

}

.investNow .rate h2 {
    margin-top: 150px;
}

.investNow .rate p {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
}

.investNow .textInvest1,
.investNow .textInvest2 {
    /*width: 50%;*/
    float: left;
    margin-top: 140px;
}

.investNow .textInvest1 p,
.investNow .textInvest2 p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #70aeff;
}

.investNow .textInvest1 span,
.investNow .textInvest2 span {
    font-weight: bold;
    font-size: 120px;
    line-height: 83.73px;
    color: #70aeff;
}

.investNow .textInvest1 {
    width: 507px;
    padding-right: 225px;
    margin-left: 6px;
    margin-right: 181px;
    position: relative;
}

.investNow .textInvest1 p {
    text-align: right;
}

.investNow .textInvest1 span {
    position: absolute;
    top: -11px;
    right: 0;
}

.investNow .textInvest2 {
    width: 464px;
    padding-left: 190px;
    margin-right: 12px;
    position: relative;
}

.investNow .textInvest2 p {
    text-align: left;
}

.investNow .textInvest2 span {
    position: absolute;
    top: -11px;
    left: 0px;
}

.investNow .btnFillColor2 {
    margin-top: 177px;
    margin-left: 451px;
}

.lastNews {
    position: relative;
    z-index: 1;
}

.lastNews .backImg {
    width: 1898px;
    height: 903px;
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -949px;
    z-index: -1;
}

.lastNews .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lastNews .itemNews {
    width: 333px;
    margin-top: 112px;
}

.lastNews h3 {
    margin-top: 80px;
}

.lastNews .itemNews span:first-child {
    font-family: "Monda";
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #061046;
    display: block;
}

.lastNews .itemNews span:nth-child(3),
.lastNews .itemNews span:nth-child(4) {
    font-size: 13px;
    line-height: 83.73px;
    letter-spacing: 0.1em;
    color: #739cdd;
}

.lastNews .itemNews p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
    display: block;
}

.lastNews .itemNews a {
    margin-top: 58px;
}


.payments {
    position: relative;
    z-index: 2;
}

.payments .container img {
    margin-top: 180px;
}

.payments .backImg {
    width: 1920px;
    height: 291px;
    position: absolute;
    top: 62px;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
}

/*footer {*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*-webkit-background-size: cover;*/
/*background-size: cover;*/
/*}*/
footer {
    position: relative;
    z-index: 1;
}

footer .backImg {
    width: 1920px;
    height: 573px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

.table {
    display: table;
    width: 100%;
}

.tCell {
    display: table-cell;
}

footer .contactsFooter,
footer .logoWrap,
footer .social {
    width: 33.3333%;
    vertical-align: bottom;
}
footer .contactsFooter a:hover,
footer .social a:hover {
    opacity: 0.7;
}

footer .contactsForex {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #96c2ff;
}

footer .adress p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

footer .logoWrap {
    text-align: center;

}

footer .logoFooter img,
footer .logoFooter span,
footer a {
    display: block;
}

.logoFooter {
    padding-top: 140px;
    position: relative;
    margin-top: 130px;
}

.logoFooter img {
    width: 119px;
    height: 104px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
}

.logoFooter img + span {
    font-family: "Monda";
    font-size: 37px;
    line-height: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.logoFooter span:nth-child(3) {
    font-family: "Monda";
    font-size: 13px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #ffffff;
}

footer a {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #ffffff;
}

footer .copyright {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #96c2ff;
    margin-top: 40px;
}

footer .social {
    text-align: right;
}

footer .menu {
    margin-top: 100px;
    margin-bottom: 58px;
}

/*FAQ*/
.menuSocial li.socialFAQ1 {
    position: absolute;
    display: block;
    top: 0;
    left: 145px;
    margin-top: 165px;
}

.menuSocial li.socialFAQ2 {
    left: 145px;
    margin-top: 253px;
}

.menuSocial li.socialFAQ3 {

    left: 145px;
    margin-top: 343px;
}

header {
    position: relative;
    z-index: 3;
}

header .backImgFaq {
    width: 1920px;
    height: 517px;
    left: 50%;
    margin-left: -960px;
    position: absolute;
    z-index: -3;
}

header .faq span {
    font-family: "Monda";
    font-weight: bold;
    font-size: 90px;
    line-height: 83.73px;
    color: #ffffff;
    display: block;
    margin-top: 100px;
}

.askQuestions {
    position: relative;
    z-index: 2;
}

.askQuestions .backImg {
    width: 1920px;
    height: 1427px;
    position: absolute;
    top: -141px;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
}

.menuQuestions {
    float: left;
    width: calc(100% - 800px);
    padding-left: 46px;
    margin-top: 184px;
}

.questions {
    float: left;
    width: 800px;
    margin-top: 148px;
}

/*.questions span {*/
/*padding-left: 173px;*/
/*}*/

/*.questions p {*/
/*padding-left: 146px;*/
/*}*/

.accordion span {
    font-family: "Monda";
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    color: #012c7a;
}

.accordion p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
}

.remainQuestions {
    position: relative;
    z-index: 1;
    margin-top: 256px;
}

.remainQuestions .backImg {
    width: 583px;
    height: 536px;
    position: absolute;
    top: -123px;
    right: 0;
    z-index: -1;
}

.remainQuestions .captionBlue {
    margin-top: 236px;
    margin-bottom: 70px;
}

.remainQuestions .table {
    display: table;
    width: 100%;
    vertical-align: bottom;
}

.remained {
    display: table-cell;
    width: 720px;
}

.remained span {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #012c7a;
}

.remained p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
    padding-top: 45px;
}

.paymentsFAQ {
    position: relative;
    z-index: 2;
}

.paymentsFAQ img {
    margin-top: 250px;
}

.paymentsFAQ .backImg {
    width: 1920px;
    height: 291px;
    position: absolute;
    top: 133px;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
}

.writeUs {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}